{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
  <section class="tasks">
    <h2>Task List</h2>
    <a href="{% url 'create-task' %}"><button>Create New Task</button></a>
    {% if tasks %}
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Assigned To</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.assigned_to.name }}</td>
              <td>{{ task.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No tasks available.</p>
    {% endif %}
  </section>
{% endblock %}
